<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>The Wall</title>
</head>
<body>
    <div class="container my-3">
        <div class="row">
            <div class="col d-inline-flex">
                <h3 class="text-left">Coding Dojo Wall</h3>
                <div class="text-right d-inline-flex ml-5">
                <p> Welcome, {{ request.session.name }} </p>
                <a href= "{% url 'the_app:logout' %}">  Log Out </a>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col">

            <form action='{% url "wall_app:post_msg" %}' method='post'>
                {% csrf_token %}
                <label class="col-sm-2 " for="the_msg">Post a message:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name='the_msg' cols=200 rows=5 > </textarea>
                </div>
                <div class="ml-3 my-3">
                    <input type='submit' value='Post a messgae' class="btn btn-primary" >
            </div>
            </form>

            {% for msg in messages reversed  %}
            <div>
                    <h5 class='d-inline mr-6' > {{ msg.owner.first_name }} {{ msg.owner.last_name }} - {{ msg.created_at }}</h5>
                    {% if msg.owner.id == request.session.id %}
                        <form class='d-inline ml-6' action='{% url "wall_app:delete_msg" %}' method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="msg_id" value="{{ msg.id }}">
                            <input type='submit' value='Delete messgae' class="btn btn-danger my-3 d-inline" >
                        </form>
                    {% endif %}
                    <p> {{ msg.message }}</p>

                {% for comment in msg.comments.all %}
                <div class="ml-3 my-3"> 
                    <h5> {{ comment.owner.first_name }} {{ comment.owner.last_name }} - {{ comment.created_at }}</h5>
                    <p> {{ comment.comment }}</p>
                </div>
                {% endfor %}
                <form class='fit-content'action='{% url "wall_app:post_comment" %}' method='post'>
                    {% csrf_token %}
    
                    <input type="hidden" name="msg_id" value="{{ msg.id }}">
                    <label class="col-sm-2 " for="comment" >Post a comment:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name='comment' cols=200 rows=5 > </textarea>
                    </div>
                    <div class="ml-3 my-3">
                        <input type='submit' value='Post a comment' class="btn btn-primary" >
                </div>
                </form>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
</body>
